.App {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.DropdownDiv {
  width: 20rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.LabelText {
  width: 20rem;
}
.DropdownMenu,
.InputField {
  outline: none;
  margin: 0.4rem;
  height: 2rem;
}
.InputField {
  height: 1.6rem;
}
.InputText {
  width: 20rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.Functionality {
  width: 20rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1rem;
}
.SearchButton,
.ResetButton {
  width: 5rem;
  height: fit-content;
  margin: 4px;
}
.OutputBox {
  width: 100%;
}
.Tempdisplay {
  width: 20rem;
  border: 1px solid;
  border-color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 4rem;
  color: black;
}
